{% extends 'base.html' %}
{% block body %}
<!--Login-->    
<section class="inicio">
    <div class="iniciocont">
        <div class="imgteq"> 
            <img src="{{url_for('static', filename= 'SRC/tequila-pana.png')}}" alt="">
        </div>
        <div class="registroingreso">
            <h1>Daf Tequila´s <br>Sal, limón y ¡para adentro!</h1>
            <div class="btn">
                <a class="btn-l" id="btnlog">Login</a>
                <a class="btn-s" href="">Sing Up</a>
             </div>
        </div>
    </div>

</section>


<main style="padding: 30px 0px 50px 0px;">
    <!--Historia-->
    <section class="his-sec">
        <div class="historia">
            <h2 class="subtitulo">Historia</h2>
            <div class="historiacont">
                <div class="texthis">
                <p>Don Ruben Guzman fue el fundador de DAF Tequila. La historia comienza a escribirse en 1758, 
                    cuando obtiene el título de Propiedad de Tierras, cuya principal actividad fue el cultivo de agave. De esta manera se 
                    comprueba que este fue el año en el que comenzó el cultivo de lo que años después sería DAF y un Tequila Tradicional en México.
                    <br><br>
                    Don Ruben, obtuvo la primera licencia para producir y distribuir tequila en 1795. A este año se le considera como el 
                    nacimiento de la larga tradición de Tequila DAF; este era el inicio de la historia de los mejores Tequilas de México y los más populares del mundo.
                    
                </p>
                </div>              
                <div class="imginfo">
                    <img src= "{{url_for('static', filename= 'SRC/tequila-bro.png')}}" alt="">
                </div>
        </div>
        </div>
    </section>
    
    
    <!--Procesos-->
     <section class="info-sec">
        <hr class="linedec">
        <h2 class="subtitulo">Realizacion</h2>
        <div class="reali">
            <div class="cont" href="url_for('molienda.html')">
                <div class="continfo">
                    <h2>Molienda</h2>
                    <p> La molienda consiste en extirpar, estrujar o pisar las piñas de agave desmembradas y cocidas hasta 
                        convertirlas en una pulpa fácil de exprimir para extraerle el máximo de su jugo o miel para que sea 
                        fermentado y se convierta en el alcohol del tequila.</p>
                </div>
                <div class="imgpros"><img src= "{{url_for('static', filename= 'SRC/coffee farm-bro.png')}}" alt=""></div>
            </div>

            <div class="cont" href="url_for('destila.html')">
                <div class="continfo">
                    <h2>Destilacion</h2>
                    <p>En el proceso de destilación, se aplica calor al alambique que contiene el mosto fermentado. El alcohol 
                        se evapora y se condensa a un grado más alto. Hay dos procesos principales para destilar el tequila y el 
                        tamaño y la forma del alambique tienden a influir en el producto final.</p>
                </div>
                <div class="imgpros"> <img src="{{url_for('static', filename= 'SRC/Craft beer manufacturing-bro.png')}}" alt=""></div>
            </div>
            
            <div class="cont">
                <div class="continfo" href="url_for('envasado.html')">
                    <h2>Envasado</h2>
                    <p> El Tequila se debe envasar en recipientes nuevos de tipo sanitario. Los materiales permitidos actualmente son vidrio, aluminio, cartón laminado, acero inoxidable y polietilén tereftalato (PET).
                        La capacidad de cada envase no debe ser mayor de 5 litros. </p>
                </div>
                <div class="imgpros"> <img src= "{{url_for('static', filename= 'SRC/Cocktail bartender-bro.png')}}" alt=""> </div>
            </div>
        </div>
     </section>

     <!--Galeria-->
     <section class="galery" id="galeria">
        <hr class="linedec">
        <div class="contenedor">
            <h2 class="subtitulo">Galeria</h2>
            <div class="contenedor-galeria">
                <img src= "{{url_for('static', filename= 'SRC/1.jpg')}}" class="imggaleria">
                <img src= "{{url_for('static', filename= 'SRC/2.jpg')}}" class="imggaleria">
                <img src= "{{url_for('static', filename= 'SRC/3.jpg')}}" class="imggaleria">
                <img src= "{{url_for('static', filename= 'SRC/4.jpg')}}" class="imggaleria">
                <img src= "{{url_for('static', filename= 'SRC/5.jpg')}}" class="imggaleria">
                <img src= "{{url_for('static', filename= 'SRC/6.jpg')}}" class="imggaleria">
    
            </div>
        </div>
    </section>

</main>
{% endblock %}