:root{
    --blanco: #ffffff;
    --negro: #000000;
    --negrot: #00000071;
}

.envsec{
    background-image: linear-gradient(to top, rgba(218, 57, 42, 0.5) 0%, rgba(97, 40, 40, 0.5) 100%), url(../SRC/4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 13em 2.5em 5em 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contenv{
    width: 100vw;
    height: 80vh;
    margin: 0em 4em 0em 4em;
    border-radius: 1.5em;
    background-color: var(--negrot);
}

.infoenv{
    width: 100%;
    height: auto;
    padding: 1.5em 2em 1.5em 2em;
    color: var(--blanco);
}

.infoenv h2{
    font-size: 2em;
    text-align: center;
}

.infoenv p{
    font-size: 1.5em;
    text-align: justify;
}

.imgenv{
    width: 100%;
    height: auto;
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgenv img{
    width: 40em;
    height: 25em;
    border-radius: 1.5em;
    opacity: 70%;
    position: relative;
}
