:root{
    --blanco: #ffffff;
    --negro: #000000;
    --negrot: #00000037;
    --rojo: #a71930;
    --gris: #3f3f3f;
    --grisclaro: #a5acaf;
}
.historia{
padding-bottom: 5em;
}

.historiacont{
    width: 100vw;
    height: 90vh;
    padding: 0 2.5em 0 2.5em;
    display: flex;
}

.texthis{
    position: relative;
    width:100%;
    color: var(--blanco);
    font-size: 2.3em;
    border-radius: 2.5em;
    text-align: justify;
    background-color: var(--rojo);
    padding: 2em 3em 0 3em;
}



.imginfo{
    width: 100%;
    display: flex;
   justify-content: center;
   align-items: center;
}

.imginfo img{
    width: 40em;
    height: auto;
   position:absolute;
   transition: 1.2s;
}

.imginfo img:hover{
    width: 50em;
    transition: 1.2s;
    cursor: pointer;
}

/* Responsive Historia */
@media only screen and (min-width:300px) and (max-width:610px){
    .historiacont{
        width: 100%;
        padding: 0 2.5em 2.5em 2.5em;
        display: flex;
        flex-direction: column;
        
    }   

    .texthis{
        position: relative;
        width: 100%;
        color: var(--blanco);
        font-size: 13px;
        background-color: var(--rojo);
        border-radius: 2.5em;
        text-align: justify;
        padding: 2em 2.5em 0 2.5em;
    
}

.imginfo img{
    width: 250px;
    height: auto;
   position:relative;
   transition: 1.2s;
   justify-content: center;
   align-items: center;
   display: flex;
   
}



.imginfo img:hover{
    width: 15em;
    transition: 1.2s;
    cursor: pointer;
}


}